<h1>{{title}}</h1>

<form [formGroup]="entrevistaForm">
  <div class="input-container">

    <div class="select-container">
      <label for="fechaSegundaEntrevista" class="labelPicker">Fecha Segunda Entrevista</label>
      <div class="datePickerContainer">
        <input id="fechaSegundaEntrevista" type="text" matInput [matDatepicker]="pickerdaEntrevista" formControlName="fechaSegundaEntrevista">
        <mat-datepicker-toggle matSuffix [for]="pickerdaEntrevista"></mat-datepicker-toggle>
        <mat-datepicker #pickerdaEntrevista></mat-datepicker>
      </div>
    </div>

    <div class="select-container">Estatus Segunda Entrevista
      <select id="segundaEntrevista" formControlName="estatusSegundaEntrevista">
        <option value="" disabled [selected]="true">Seleccione una opción</option>
        <option *ngFor="let item of getOpciones('estatusEntrevista')" [value]="item">{{item}}</option>
      </select>
      <div class="angle-container">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>

    <div class="select-container">Tipo de Entrevista
      <select id="TipoSegundaEntrevista" formControlName="tipoSegundaEntrevista">
        <option value="" disabled [selected]="true">Seleccione una opción</option>
        <option *ngFor="let item of getOpciones('tipoEntrevista')" [value]="item">{{item}}</option>
      </select>
      <div class="angle-container">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>
    
    
    
  </div>

</form>
