<h1>{{title}}</h1>

<form [formGroup]="evaluacionForm">
    <div class="input-container">
        
        <div class="select-container">Validacion del Sindicato
            <select id="sindicato" formControlName="validacionSindicato">
            <option value="" disabled [selected]="true">Seleccione una opción</option>
            <option *ngFor="let item of getOpciones('validacionSindicato')" [value]="item">{{item}}</option>
            </select>
            <div class="angle-container">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>

        <div class="select-container">Estatus General Psicometria
            <select name="dropPsico" id="estatus" formControlName="estatusGeneralPsicometria">
                <option value="" disabled [selected]="true">Seleccione una opción</option>
                <option *ngFor="let item of getOpciones('estatus'); let i = index" value={{item.indexOf(item)}} [value]="item">{{item}}</option>
            </select>
            <div class="angle-container">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>

        <div class="select-container">Referencias Laborales
            <select name="dropReferencias" id="referencias" formControlName="referenciasLaborales">
                <option value="" disabled [selected]="true">Seleccione una opción</option>
                <option *ngFor="let item of getOpciones('referenciasLaborales'); let i = index" value={{item.indexOf(item)}} [value]="item">{{item}}</option>
            </select>
            <div class="angle-container">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>

        <div class="select-container">Examen de Manejo
            <select name="dropManejo" id="examManejo" formControlName="examenManejo">
                <option value="" disabled [selected]="true">Seleccione una opción</option>
                <option *ngFor="let item of getOpciones('examManejo'); let i = index" value={{item.indexOf(item)}} [value]="item">{{item}}</option>
            </select>
            <div class="angle-container">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>

        <div class="select-container">Estatus General Documentos
            <select name="dropDocs" id="dropDocs" formControlName="estatusGeneralDocumentos">
                <option value="" disabled [selected]="true">Seleccione una opción</option>
                <option *ngFor="let item of getOpciones('documentos'); let i = index" value={{item.indexOf(item)}} [value]="item">{{item}}</option>
            </select>
            <div class="angle-container">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>

        <div class="select-container">Estatus General
            <select name="dropSindicato" id="sindicato" formControlName="estatusGeneral">
                <option value="" disabled [selected]="true">Seleccione una opción</option>
                <option *ngFor="let item of getOpciones('estatusGral'); let i = index" value={{item.indexOf(item)}} [value]="item">{{item}}</option>
            </select>
            <div class="angle-container">
                <i class="fas fa-angle-down"></i>
            </div>
        </div>

        <div class="select-container">
            <label for="fechaIngreso" class="labelPicker">Fecha de Ingreso</label>
            <div class="datePickerContainer">
              <input id="fechaIngreso" type="text" matInput [matDatepicker]="fechaIngreso" formControlName="fechaIngreso">
              <mat-datepicker-toggle matSuffix [for]="fechaIngreso"></mat-datepicker-toggle>
              <mat-datepicker #fechaIngreso></mat-datepicker>
            </div>
        </div>

    </div>
</form>
